{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% load pwa %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1a56db">

    {% progressive_web_app_meta %}
    <link rel="manifest" href="manifest.json">

    <title>{% block title %}Расписание{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'core/css/mobile.css' %}" media="screen and (max-width: 768px)">
    <link rel="stylesheet" href="{% static 'core/css/mobile-land.css' %}"
          media="screen and (min-width: 450px) and (max-width: 950px) and (orientation: landscape)">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/images/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/images/favicons/favicon.ico' %}">
</head>
<body>

<header>
    <div class="header-content">
        <div class="user-info">
            {% if user.is_authenticated %}
                <p id="teacher-name">{{ user.first_name }} {{ user.last_name }}</p>
                {% if user.is_staff %}
                    <p id="admin-label">(админ)</p>
                    <a href="{% url 'admin:index' %}" class="admin-btn" title="Админка">
                        ⚙️ Админ-панель
                    </a>
                {% endif %}
            {% else %}
                <p>Гость</p>
            {% endif %}
        </div>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'home' %}">Расписание</a>
            {% endif %}
            {% if user.is_staff %}
                <a href="{% url 'stats_dashboard' %}">Аналитика</a>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'materials_hub' %}">Курсы</a>
                <a href="{% url 'profile' %}">Профиль</a>
            {% endif %}
        </nav>
    </div>
</header>
<main>
    <div id="content-main">
        {% block content %}{% endblock %}
    </div>
</main>
{% block scripts %}{% endblock %}
</body>
</html>