{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}

{% block content %}
    <div id="schedule-container">

        {% comment %}<img src="static/materials/materials-storage/test_image.jpg" alt="test_image">{% endcomment %}

        {% comment %}<img src="{% URL "materials/test_image.dd3733261fb3.jpg" %}" alt="test_image">{% endcomment %}

        {% csrf_token %}
        <div id="week-info">
            <div id="week-info-left">
                <div class="button-wrapper">
                    <button id="settings-button" title="Настройки" class="icon-button icon-rotate">
                        <span>⚙️</span>
                    </button>
                </div>
                {% if user.is_staff %}
                    <div class="button-wrapper">
                        <button id="teachers-button" title="Преподаватели" class="icon-button icon-float">
                            <span>‍👨‍🏫</span>
                        </button>
                    </div>

                    <div class="button-wrapper">
                        <button id="payments-button" title="Выплаты преподавателям"
                                class="icon-button icon-float">
                            <span>‍💰</span>
                        </button>
                        <span id="payments-counter" class="notification-badge">0</span>
                    </div>

                    <div class="button-wrapper">
                        <button id="balance-alert-button" title="Требует оплаты уроков"
                                class="icon-button icon-float">
                            <span>🔔</span>
                        </button>
                        <span id="balance-alert-counter" class="notification-badge">0</span>
                    </div>
                    {% comment %}
                        <button id="add-student-button" title="Добавить расписание ученика"
                                class="icon-button icon-button-float"
                                style="display: inline-block;"><span>➕</span></button>{% endcomment %}
                {% endif %}
                <div id="open-windows-controls" style="display: none;">
                    <span>Отметьте открытые окна</span>
                    <div style="display: inline-block">
                        <button id="save-open-windows">Сохранить</button>
                        <button id="cancel-open-windows">Отмена</button>
                    </div>
                </div>
            </div>
            <div class="week-navigation">
                <div id="week-nav-left">
                    <button id="prev-week" class="nav-button">←</button>
                    <button id="current-week" class="nav-button">Сегодня</button>
                </div>
                <h2>Неделя: <span id="week-range"></span></h2>
                <button id="next-week" class="nav-button">→</button>
            </div>
        </div>
        <div id="headers">
            <div class="time-header">Время</div>
            <div class="day-header">
                <div>Понедельник</div>
                <div class="date"></div>
            </div>
            <div class="day-header">
                <div>Вторник</div>
                <div class="date"></div>
            </div>
            <div class="day-header">
                <div>Среда</div>
                <div class="date"></div>
            </div>
            <div class="day-header">
                <div>Четверг</div>
                <div class="date"></div>
            </div>
            <div class="day-header">
                <div>Пятница</div>
                <div class="date"></div>
            </div>
            <div class="day-header">
                <div>Суббота</div>
                <div class="date"></div>
            </div>
            <div class="day-header">
                <div>Воскресенье</div>
                <div class="date"></div>
            </div>
        </div>
        <div id="schedule">
            <div class="time-column">
                <!-- Слоты времени будут добавляться динамически -->
            </div>
            <div id="monday" class="week-day">
                <!-- Слоты часов будут добавляться динамически -->
            </div>
            <div id="tuesday" class="week-day">
                <!-- Слоты часов будут добавляться динамически -->
            </div>
            <div id="wednesday" class="week-day">
                <!-- Слоты часов будут добавляться динамически -->
            </div>
            <div id="thursday" class="week-day">
                <!-- Слоты часов будут добавляться динамически -->
            </div>
            <div id="friday" class="week-day">
                <!-- Слоты часов будут добавляться динамически -->
            </div>
            <div id="saturday" class="week-day">
                <!-- Слоты часов будут добавляться динамически -->
            </div>
            <div id="sunday" class="week-day">
                <!-- Слоты часов будут добавляться динамически -->
            </div>
        </div>
    </div>

    <div id="settings-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="modal-header">
                <h3>Настройки расписания</h3>
            </div>
            <div class="modal-body">
                <form id="settings-form">
                    <div class="form-group">
                        <label for="start-hour">Показывать часы с</label>
                        <select id="start-hour">
                            <!-- Опции будут добавлены через JavaScript -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="end-hour">До</label>
                        <select id="end-hour">
                            <!-- Опции будут добавлены через JavaScript -->
                        </select>
                    </div>
                    <div class="form-group theme-toggle">
                        <label for="theme-switch">Темная тема</label>
                        <label class="switch">
                            <input name="theme-switcher" type="checkbox" id="theme-switch">
                            <span class="slider"></span>
                        </label>
                    </div>
                    <div class="form-group" style="display: flex; align-items: center;">
                        <button id="set-open-windows" class="icon-button">🔄</button>
                        <span class="button-text" style="margin-left: 8px;">Настроить открытые окна</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="cancel-button">Отменить</button>
                <button class="submit-button">Сохранить</button>
            </div>
        </div>
    </div>

    <div id="notification" style="display: none;"></div>

    <div id="selected-count">
        Открытых окон: <span id="count">0</span>
    </div>

    <div id="add-student-modal" class="modal" style="display: none;">
        <div class="modal-content" id="add-student-modal-content">
            <span class="close"
                  onclick="document.getElementById('add-student-modal').style.display='none'">&times;</span>
            <div class="modal-header">
                <h3>Добавить расписание ученика</h3>
            </div>
            <div class="modal-body">
                <form id="add-student-form">
                    <div class="form-group">
                        <label for="client-id">Клиент</label>
                        <input type="text" id="client-id" placeholder="ID клиента" required
                               style="flex: 1; margin-right: 10px;">
                        <button id="find-client-button" type="button" class="submit-button"
                                style="margin-top: 10px;">Найти клиента
                        </button>
                        <div id="client-info" style="display: none;"></div>
                    </div>
                    <div class="form-group">
                        <label for="teacher-id">Преподаватель</label>
                        <input type="text" id="teacher-id" placeholder="ID преподавателя" required
                               style="flex: 1; margin-right: 10px;">
                        <button id="find-teacher-button" type="button" class="submit-button"
                                style="margin-top: 10px;">Найти преподавателя
                        </button>
                        <div id="teacher-info" style="display: none;"></div>
                    </div>
                    <div id="one-time-schedule-section" class="form-group">
                        <h3>Вводные уроки</h3>
                        <button id="add-one-time-lesson-button" class="submit-button"
                                style="margin-top: 10px; margin-bottom: 10px;">
                            Добавить вводный урок
                        </button>
                        <div id="one-time-lessons-container"></div>
                    </div>

                    <div id="regular-schedule-section" class="form-group">
                        <h3>Постоянное расписание</h3>
                        <button id="add-regular-lesson-button" class="submit-button"
                                style="margin-top: 10px; margin-bottom: 10px; border: none">Добавить постоянный урок
                        </button>
                        <div id="regular-lessons-container"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="cancel-button"
                        onclick="document.getElementById('add-student-modal').style.display='none'">Закрыть
                </button>
                <button class="submit-button" id="submit-student">Добавить ученика</button>
            </div>
        </div>
    </div>

    <div id="confirmation-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close"
                  onclick="document.getElementById('confirmation-modal').style.display='none'">&times;</span>
            <div class="modal-header">
                <h3>Подтверждение</h3>
            </div>
            <div class="modal-body form-group" style="margin-top: 20px">
                <p id="confirmation-text" class="modal-text"></p>
                <div id="input-container" class="modal-input-container" style="display: none; margin-top: 20px">
                    <!-- Сюда будет добавляться input/textarea динамически -->
                </div>
            </div>
            <div class="modal-actions">
                <button id="confirm-change" class="confirm-button">Подтвердить</button>
                <button id="cancel-change" class="cancel-button">Отменить</button>
            </div>
        </div>
    </div>

    <div id="schedule-info-panel" class="expanded">
        <button id="toggle-schedule-panel" class="toggle-button" title="Свернуть">
            <svg id="toggle-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <polyline points="8 5 15 12 8 19" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></polyline>
            </svg>
        </button>
        <span id="schedule-info-text">Вы смотрите расписание: <span id="schedule-info-text-name">Артур
                Кожемякин</span></span>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let currentUserId = {{ user_id }};
        let currentTeacherId = {{ teacher_id }}
        console.log(`UserId: ${currentUserId}`)
        console.log(`TeacherId: ${currentTeacherId}`)
        const userData = {
            isAdmin: {% if request.user.is_staff %}true{% else %}false{% endif %},
            username: "{{ request.user.username|escapejs }}"
        };
    </script>
    <script src="{% static 'core/schedule/home.js' %}" type="module"></script>
{% endblock %}