{% extends 'core/base.html' %}
{% load static %}

{% block title %}Профиль{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <img src="/media/test_image.jpg" alt="Описание изображения">

        <h1>Профиль</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить</button>
            <br>
            <br>
            <a href="{% url 'password_change' %}">Сменить пароль</a>
            <a href="{% url 'logout' %}">Выйти</a>
        </form>
    </div>
{% endblock %}