:root {
    --bg: #e0f2fe;
    --bg-invert: #000000;
    --header-bg: #f0f7ff;
    --border-color: #d4d6ff;
    --primary-color: #6366f1;
    --primary-color-rgb: 99, 102, 241;
    --primary-hover: #3127bd;
    --success-color: #4CAF50;
    --danger-color: #dc3545;
    --gray-mix: #b3b3b3;
    --danger-hover: #bb2d3b;
    --text-primary: #2d3748;
    --text-secondary: #4a5568;
    --invert-text-primary: #e2e8f0;
    --open-window-bg: #b7daff;
    --permanent-lesson-bg: #e0e7ff;
    --one-time-lesson-bg: #dcfce7;
    --one-time-lesson-primary: rgb(16, 185, 129);
    --demo-lesson-bg: #f3dcfc;
    --demo-lesson-primary: rgb(172, 91, 255);
    --permanent-lesson-primary: #6366f1;
    --scrollbar-size: 8px;

    --balance-negative: #ecccff;
    --balance-danger: #ffccd4;
    --balance-warning: #ffe6ce;
    --balance-info: #fffdd6;

    --balance-negative-border: #aa00ff;
    --balance-danger-border: #ff2f4d;
    --balance-warning-border: #d17306;
    --balance-info-border: #ffde40;

    --app-header: linear-gradient(135deg, #8848ca, #ba4040);
}

[data-theme="dark"] {
    --bg: #1a1b1e;
    --bg-invert: #ffffff;
    --header-bg: #1a1b1e;
    --border-color: #3a3b3e;
    --text-primary: #e2e8f0;
    --text-secondary: #a0aec0;
    --invert-text-primary: #0b0e12;
    --open-window-bg: rgba(47, 47, 48, 0.71);


    --balance-negative: #2d0440;
    --balance-danger: #270c10;
    --balance-warning: #25190b;
    --balance-info: #221d0a;

    --app-header: linear-gradient(135deg, #6a11cb, #fc2525);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--app-header);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: var(--text-primary);
    line-height: 1.5;
    height: 100vh;
    justify-content: center;
}

ul, ol {
    margin-left: 30px;
}


/* Для всех скроллбаров на сайте */
::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);;
}

textarea::-webkit-scrollbar {
    width: var(5px);
    height: var(--scrollbar-size);;
}

::-webkit-scrollbar-track {
    background: var(--bg);
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 4px;
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

#admin-label {
    color: var(--invert-text-primary);
    font-size: 1em;
    display: block;
}

[data-theme="dark"] #admin-label {
    color: var(--text-secondary);
}

header {
    padding: 10px 20px;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}

[data-theme="dark"] header {
    background: rgba(0, 0, 0, 0.7);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.user-info p {
    margin: 0;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#content-main {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
}

ul, ol {
    text-align: left;
}

li {
    margin-bottom: 5px;
}

.admin-btn {
    display: inline-block;
    background: #417690;
    color: white;
    padding: 5px 7px;
    border-radius: 4px;
    text-decoration: none;
    z-index: 1000;
    font-size: 12px;
}

.admin-btn:hover {
    background: #305067;
}