@import "subheader.css";
@import "calendar.css";
@import "lesson.css";
@import "modal.css";

:root {
    --bg: #e0f2fe;
    --header-bg: #f0f7ff;
    --border-color: #d4d6ff;
    --primary-color: #6366f1;
    --primary-color-rgb: 99, 102, 241;
    --primary-hover: #4f46e5;
    --success-color: #4CAF50;
    --danger-color: #dc3545;
    --gray-mix: #b3b3b3;
    --danger-hover: #bb2d3b;
    --text-primary: #2d3748;
    --text-secondary: #4a5568;
    --invert-text-primary: #e2e8f0;
    --open-window-bg: #b7daff;
    --permanent-lesson-bg: #e0e7ff;
    --one-time-lesson-bg: #dcfce7;
    --one-time-lesson-primary: rgb(16, 185, 129);
    --demo-lesson-bg: #f3dcfc;
    --demo-lesson-primary: rgb(172, 91, 255);
    --permanent-lesson-primary: #6366f1;
    --scrollbar-width: 8px;
}

[data-theme="dark"] {
    --bg: #1a1b1e;
    --header-bg: #1a1b1e;
    --border-color: #3a3b3e;
    --text-primary: #e2e8f0;
    --text-secondary: #a0aec0;
    --invert-text-primary: #0b0e12;
    --open-window-bg: rgba(47, 47, 48, 0.71);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    color: var(--text-primary);
    line-height: 1.5;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Для всех скроллбаров на сайте */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 4px;
}