@import "subheader.css";
@import "calendar.css";
@import "lesson.css";
@import "modal/modal.css";
@import "modal/balance-alert-modal.css";

#custom-context-menu {
    position: fixed;
    color: var(--invert-text-primary);
    z-index: 9999;
    background: var(--bg-invert);
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    transform: translate(0, 0);
}

#custom-context-menu .menu-item {
    padding: 8px 15px;
    cursor: pointer;
    white-space: nowrap;
}

#custom-context-menu .menu-item:hover {
    background-color: var(--primary-color);
}