header {
    height: 7vh;
    padding: 3px 10px;
}

.admin-btn {
    padding: 2px 4px;
    text-align: center;
}

#teacher-name {
    font-size: 1rem;
    width: fit-content;
    display: block;
}

#admin-label {
    display: none;
}

#week-info-left {
    flex-shrink: 0;
    max-width: 22%;
    flex-wrap: wrap;
}

nav {
    text-align: right;
}

.week-navigation {
    width: 90%;
    align-items: start;
}

#week-nav-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 7px;
}

#schedule-container {
    flex: 1;
    overflow: auto;
    width: 100%;
}

#headers, #schedule {
    width: 190%;
    display: flex;
    min-width: 1200px;
}

.day-header {
    flex: 1;
}

/* Стили для колонки со временем и хедера времени */
.time-column, .time-header {
    flex: 0 0 70px
}

.modal-content {
    width: 90%;
}

#week-info {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 101;
}

.nav-button {
    width: min-content;
}

#headers {
    min-width: 1268px;
}

.schedule-area {
    width: 220%;
}

/* закрашиваем пустое место между скроллами в углу экрана */
.scrollable-area::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: var(--bg);
}
